{% extends 'estatesite/base.html' %}
{% load static %}
{%block content%}

<div class="container" style="margin-top: 3%">
    <div class="row">
        <h1>We Help You Search For The Perfect Home</h1>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 1%; margin-bottom: 1%">
    <h5>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </h5>
    </div>
    <div class="row" style="margin-left: 2%; margin-top: 2%">
    <div class="col">
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          esse officia repudiandae ad saepe ex, amet neque quod accusamus rem
          quia magnam magni dolorum facilis ullam minima perferendis?
          Exercitationem at quaerat commodi id libero eveniet harum perferendis
          laborum molestias quia.
        </p>
    </div>
    <div class="col">
        <img src="{% static 'estatesite/about2.jpg' %}" alt="" />
    </div>
        </div>
</div>
{%endblock%}